html, body {
    margin: 0;
    padding: 0;
    background: #311;
    color: #EEE;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.target-provider {

}

.target-provider--valid-target {
    opacity: 0.8;
}

.world-area {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 16px auto;
}

.world-area__tile {
    width: 64px;
    height: 64px;
    background: white;
    border: 1px solid rgb(42, 80, 30);
    padding: 0;
}



.tile {
    position: relative;
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    vertical-align: middle;
    font-family: Consolas, "Courier New", monospace;
    text-align: center;
}

.tile--grass {
    background: url('img/grass.png')
}

.tile__text {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0 0 2px white;
}

.obj--chest {
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    background: url('img/chest-closed.png');
}

.obj--portal {
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    background: url('img/portal.png');
}

.obj--llama {
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    background: url('img/llama.png');
}

.tile--activatable {
    background: cyan;
}