.target-provider {

}

.target-provider--valid-target {
    opacity: 0.8;
}


.world-area__tile {
    width: 32px;
    height: 32px;
    background: white;
}



.tile {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    vertical-align: middle;
    font-family: Consolas, "Courier New", monospace;
    text-align: center;
}

.tile--llama {
    background: yellow;
}

.tile--activatable {
    background: cyan;
}